version: '3.8'

services:
  redis-master:
    image: redis:7.0
    container_name: redis-master
    command: redis-server /etc/redis/redis.conf
    ports:
      - "6380:6379"
    volumes:
      - ./conf/master.conf:/etc/redis/redis.conf
      - ./data/master:/data
    networks:
      - redis-net

  redis-slave-1:
    image: redis:7.0
    container_name: redis-slave-1
    command: redis-server /etc/redis/redis.conf
    ports:
      - "6381:6379"
    volumes:
      - ./conf/slave.conf:/etc/redis/redis.conf
      - ./data/slave1:/data
    depends_on:
      - redis-master
    networks:
      - redis-net

  redis-slave-2:
    image: redis:7.0
    container_name: redis-slave-2
    command: redis-server /etc/redis/redis.conf
    ports:
      - "6382:6379"
    volumes:
      - ./conf/slave.conf:/etc/redis/redis.conf
      - ./data/slave2:/data
    depends_on:
      - redis-master
    networks:
      - redis-net

networks:
  redis-net:
    driver: bridge

