version: '3.8'

services:
  redis-master:
    image: redis:7.0
    container_name: redis-master
    network_mode: host
    command: redis-server /etc/redis/redis.conf
    volumes:
      - ./conf/master.conf:/etc/redis/redis.conf
      - ./data/master:/data

  redis-slave-1:
    image: redis:7.0
    container_name: redis-slave-1
    network_mode: host
    command: redis-server /etc/redis/redis.conf
    volumes:
      - ./conf/slave-1.conf:/etc/redis/redis.conf
      - ./data/slave1:/data
    depends_on:
      - redis-master

  redis-slave-2:
    image: redis:7.0
    container_name: redis-slave-2
    network_mode: host
    command: redis-server /etc/redis/redis.conf
    volumes:
      - ./conf/slave-2.conf:/etc/redis/redis.conf
      - ./data/slave2:/data
    depends_on:
      - redis-master

  redis-sentinel-1:
    image: redis:7.0
    container_name: redis-sentinel-1
    network_mode: host
    command: redis-sentinel /etc/redis/sentinel-1.conf
    volumes:
      - ./conf:/etc/redis
    depends_on:
      - redis-master
      - redis-slave-1
      - redis-slave-2

  redis-sentinel-2:
    image: redis:7.0
    container_name: redis-sentinel-2
    network_mode: host
    command: redis-sentinel /etc/redis/sentinel-2.conf
    volumes:
      - ./conf:/etc/redis
    depends_on:
      - redis-master

  redis-sentinel-3:
    image: redis:7.0
    container_name: redis-sentinel-3
    network_mode: host
    command: redis-sentinel /etc/redis/sentinel-3.conf
    volumes:
      - ./conf:/etc/redis
    depends_on:
      - redis-master
