version: '3.8'

services:
  speedtest-tracker:
    image: linuxserver/speedtest-tracker:latest
    container_name: speedtest-tracker
    environment:
      - TZ=Asia/Shanghai
      - APP_TIMEZONE=Asia/Shanghai
      - DISPLAY_TIMEZONE=Asia/Shanghai
      - DB_CONNECTION=sqlite
      - APP_KEY=base64:TP/BUw0Cp+w4Rm51ZItox5vbBxhKg3r4SafPZk5aAvg=
      # 定期测试配置
      - SPEEDTEST_SCHEDULE=*/5 * * * *  # 每5分钟测试一次
      - PRUNE_RESULTS_OLDER_THAN=365     # 保留365天的测试结果
      - SPEEDTEST_SERVER_ID=59386        # 指定测试服务器ID
    volumes:
      - ./config:/config
    ports:
      - "8080:80"
      - "8443:443"
    restart: unless-stopped

